################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GamepadDetection/v15
/GamepadDetection/bin/x86/Debug
/GamepadDetection/obj
/GamepadDetection/GamepadDetection.csproj.user
/GamepadDetection/runsdvui.cmd
